{{#link-to 'index'}} Go Back to Inventory {{/link-to}}
<hr>
<button {{action 'addToCart' listing}}> Add to Cart </button>

<button {{action 'delete' listing}}>Delete </button>
<div class="moneyFormat">
  <p class="red"> ${{listing.price}} </p>
</div>

<br>

<div class="nameFormat">
  <h2 class="textWhite"> {{listing.name}} </h2>
</div>
<br>
<div class="descriptionFormat">
  <p class="textWhite"> Description: {{listing.description}} </p>
</div>
<br>
<img src="{{listing.image}}">
<br>
