{{#link-to 'index'}} Go Back to Inventory {{/link-to}}
<hr>
<button {{action 'delete' listing}}>Delete </button>

<div class="moneyFormat">
  <p class="red"> ${{listing.price}} </p>
</div>

<br>

<div class="nameFormat">
  <p> {{listing.name}} </p>
</div>
<br>
<div class="descriptionFormat">
  <p> Description: {{listing.description}} </p>
</div>
<br>
<img src="{{listing.image}}">
<br>
