{{#if updateListingForm}}
  <center> <h3>Update Listing </h3> </center>
    <center> <div>
      <form>
        <div class="form-group">
          <label for="name">name</label>
          {{input value=name id="name"}}
        </div>

        <div class="form-group">
          <label for="price">price</label>
          {{input value=price id="price"}}
        </div>

        <div class="form-group">
          <label for="description">description</label>
          {{input value=description id="description"}}
        </div>

        <div class="form-group">
          <label for="image">image</label>
          {{input value=image id="image"}}
        </div>

        <button {{action 'update' listing}}>Save</button>
        <button {{action 'cancel'}}>cancel</button>
      </form>
    </div> </center>
{{else}}
<br>
  <center>   <button class="btn btn-info" {{action 'updateListingForm'}}>Update Item</button> </center>
{{/if}}
